<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"className":"site-main","ariaLabel":"Main Content"} -->
<main class="wp-block-group site-main" aria-label="Main Content">
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group" style="padding-top: 3rem; padding-bottom: 3rem;">
        <!-- wp:post-title {"level":1} /-->

        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group">
            <!-- wp:post-date /-->
            <!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-featured-image /-->

        <!-- wp:post-content {"layout":{"type":"constrained"}} /-->

        <!-- wp:post-terms {"term":"category"} /-->
        <!-- wp:post-terms {"term":"post_tag"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:comments /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->